.home-container {
  background-color: #152850;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.website-logo {
  width: 120px;
}

.logout-button {
  border: 1px solid #ffffff;
  font-family: 'Roboto';
  background-color: transparent;
  border-radius: 4px;
  width: 100px;
  padding: 6px;
  color: #ffffff;
  cursor: pointer;
}

.company-motto-line {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
  align-self: center;
}

.company-digital-card {
  align-self: center;
}
